.content {
    background-color: white;
    display: flex;
    justify-content: center;
}

.content p {
    color: #0f172aa4;
}

.sobre {
    max-width: 1200px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 100px auto 50px auto;
    gap: 4em;
}

.sobre-orquestra h1 {
    font-family: "Merriweather", serif;
    font-size: 2.7em;
    margin-bottom: 15px;
    color: #0f172a;
}

.historia-projeto {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.historia-projeto .nossa-historia {
    text-align: left;
}

.historia-projeto .nossa-historia h2 {
    font-family: "Merriweather", serif;
    margin-bottom: 15px;
    color: #0f172a;
}

.historia-projeto .nossa-historia p {
    font-size: 0.9em;
}

.projeto-cefec {
    width: 100%;
    background-color: #21469e10;
    padding: 20px 27px;
    text-align: left;
    border-radius: 10px;
    border: solid #21479e21 1px;
}

.projeto-cefec h2 {
    font-family: "Merriweather", serif;
    margin-bottom: 15px;
    color: #0f172a;
}

.projeto-cefec p {
    margin-bottom: 15px;
}

.projeto-cefec p a {
    color: #f59e0b;
    text-decoration: none;
}

.projeto-cefec p a:hover {
    text-decoration: underline;
}

.projeto-cefec button {
    padding: 10px 20px;
    outline: none;
    border: none;
    background-color: #0f172a;
    color: white;
    font-weight: 600;
    border-radius: 6px;
}

.maestro {
    display: flex;
    gap: 35px;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 100%;
}

.maestro .img-maestro {
    flex-shrink: 0;
}

.maestro .img-maestro img {
    border-radius: 20px;
    box-shadow: 3px 2px 10px #0f172a3e;
    width: 100%;
    max-width: 250px;
    height: auto;
    object-fit: cover;
}

.maestro h1 {
    font-family: "Merriweather", serif;
    margin-bottom: 15px;
    color: #0f172a;
}

.maestro h3 {
    font-family: "Merriweather", serif;
    margin-bottom: 15px;
    color: #f59e0b;
    font-weight: 400;
}

@media (max-width: 768px) {
    .sobre {
        width: 95%;
        margin-top: 90px;
        gap: 3em;
    }

    .historia-projeto {
        flex-direction: column;
    }

    .maestro {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .maestro .info-maestro {
        padding: 0 10px;
    }
}