.container-agenda{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: #1a1a1a0c; 
}

.header-agenda{
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 50px;
    padding: 10px 0;
    border-bottom: #1a1a1a 1px solid;
    margin-bottom: 40px;

    & h1{
        font-family:'Playfair Display', sans-serif;
        font-size: 3.5em;
        font-style: italic;
        font-weight: 500;
    }

    & a{
        text-decoration: none;
        color: #1a1a1a;
        font-weight: 500;
        
        &:hover{
            text-decoration: underline;
        }
    }
}

.content-agenda{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 40px;
    padding: 25px;
    font-size: 1.1em;
    border-bottom: #1a1a1a 1px solid;
}

.container-data h1{
    font-family: 'Playfair Display', sans-serif;
    font-size: 3em;
    color: #1a1a1a;
}

.container-data h3{
    font-size: 1em;
    font-weight: 400;
}

.img-agenda{
    background-color: #1a1a1a74;
    width: 180px;
    height: 100px;
}

.container-infos h3{
    color: #1a1a1a8f;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1.4em;
}

.container-infos h2{
    color: #1a1a1a;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 1.4em;
    margin-bottom: 10px;
}

.container-infos p{
    color: #1a1a1a87;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 0.9em;
}

.content-agenda button{
    padding: 12px 20px;
    background-color: transparent;
    border: 1px solid;
    font-weight: 600;
    cursor: pointer;
}

.content-agenda:hover{
    background-color: #1a1a1a0c;
    cursor: pointer;
    transition: 0.5s;

    & .container-data h1{
        color: #9b2323;
        transition: 0.5s;
    }

    & button{
        background-color: #1a1a1a;
        color: white;
        transition: 0.5s;
    }
}