header {
    display: flex;
    justify-content: space-between;
    padding: 0 120px;
    background-color: rgba(255, 255, 255, 0.95);
    align-items: center;
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

#logo {
    font-size: 1.9em;
    text-decoration: none;
    color: #1a1a1a;
    font-weight: 800;
    font-family: 'Playfair Display';
}

.hamburger {
    display: none;
    cursor: pointer;
}

.nav-menu {
    display: flex;
    gap: 15px;
    align-items: center;
}

li {
    list-style: none;
    margin: 0 10px;
}

li a {
    text-decoration: none;
    font-family: 'Lato';
    font-weight: bold;
    font-size: 1em;
    color: #1a1a1ad6;
    transition: 0.3s;
}

li a:hover {
    text-decoration: line-through;
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
        z-index: 1001;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: white;
        width: 100%;
        height: calc(100vh - 70px);
        text-align: center;
        transition: 0.3s ease-in-out;
        box-shadow: 0 10px 10px rgba(0,0,0,0.1);
        padding-top: 50px;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-menu li {
        margin: 25px 0;
    }

    .nav-menu li a {
        font-size: 1.2em;
        font-weight: 500;
        color: #0f172a;
    }
}