
img{
    height: 100vh;
    width: 100%;
    z-index: -999999;
    position: absolute;
    opacity: 20%;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h1{
    margin-top: 20%;
    color: white;
    font-size: 2.5em;
    font-weight: bold;
}

.container p{
    color: white;
    font-size: 1.2em;
    font-weight: 300;
    margin-bottom: 10px;
}

.container button{
    background-color: #f59e0b;
    outline: none;
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;

    &:hover{
        background-color: #ffb535
    }
}
