*{
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0f172a;
}

html {
    scroll-behavior: smooth;
}

section {
    scroll-margin-top: 90px;
}